<div class="dropdown-container" ng-class="{ show: listVisible }"  auto-close="outsideClick">
	<div class="dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
		<span ng-if="!isPlaceholder">{{display}}</span>
		<span class="placeholder" ng-if="isPlaceholder" style="background-color: white">{{placeholder}}</span>
		<i class="fa fa-angle-down"></i>
	</div>
	<div class="dropdown-list">
			<input  type="text" class="form-control" placeholder="Search" ng-model="query"></input>
			 
        
		<div>
			<div ng-repeat="item in list | filter:query" ng-click="select(item)" ng-class="{ selected: isSelected(item) }">
				<span>{{item.name !== "" ?  item.name: "-"}}/{{item.Vehicle !== "" ?  item.Vehicle: "-"}}
				<span>
				{{item.name !== "" ?  "Driver:"+item.name:"Driver:-"}}<br>{{item.Vehicle !== "" ?  "Vehicle:"+item.Vehicle :"Vehicle:-"}}</span></span>
				<i class="fa fa-check"></i>
			</div>
		</div>
	</div>
</div>